# Reference: https://docs.redhat.com/en/documentation/red_hat_data_grid/8.5/html/configuring_data_grid_caches/cache-configuration
apiVersion: infinispan.org/v2alpha1
kind: Cache
metadata:
  name: fruits-legumes-replicated-cache-definition
spec:
  clusterName: datagrid-cluster
  name: fruits-legumes-replicated-cache
  template: |
    <replicated-cache name="fruits-legumes-replicated-cache" mode="SYNC" statistics="true">
      <encoding media-type="application/x-protostream"/>
      <expiration lifespan="-1" max-idle="-1"/>
      <memory max-count="2" when-full="REMOVE"/>
      <persistence passivation="false">
        <file-store/>
      </persistence>
      <tracing enabled="true" categories="container cluster"/>
    </replicated-cache>