---
apiVersion: v1
kind: ConfigMap
metadata:
  name: camel-quarkus-datagrid-tester-config
data:
  datagrid.caches.fruits-legumes: fruits-legumes-replicated-cache
  datagrid.caches.idempotency: idempotency-replicated-cache
  minio.delete-after-read: "false" # I deactivated the delete after object retrieval for the Idempotent Consumer EIP using RHDG demo purposes. Default is usually `true`.
  minio.next-poll-delay-in-ms: "30000" # Milliseconds before the next poll. I set it to 30000ms for demo purposes. Default is usually `500`.
  quarkus.otel.exporter.otlp.endpoint: http://otel-collector.observability.svc:4317
---
apiVersion: v1
kind: Secret
metadata:
  name: camel-quarkus-datagrid-tester-secret
stringData:
  minio.endpoint: http://minio-service:9000
  minio.access-key: minioadmin
  minio.secret-key: d-XT,YJ.XF3c_WT[
  quarkus.infinispan-client.hosts: datagrid.apps.ocp4.jnyilimb.eu:443
  quarkus.infinispan-client.auth-server-name: datagrid-cluster
  quarkus.infinispan-client.username: <CHANGEME_USER>
  quarkus.infinispan-client.password: <CHANGEME_PWD>
  quarkus.infinispan-client.client-intelligence: HASH_DISTRIBUTION_AWARE
  quarkus.infinispan-client.sasl-mechanism: PLAIN
  quarkus.infinispan-client.sni-host-name: datagrid.apps.ocp4.jnyilimb.eu
  quarkus.infinispan-client.trust-store: /mnt/ssl/truststore.p12
  quarkus.infinispan-client.trust-store-password: P@ssw0rd
type: Opaque
---
# Generate a ServiceMonitor resource for the camel-quarkus-datagrid-tester service
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: camel-quarkus-datagrid-tester
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: camel-quarkus-datagrid-tester
      app.kubernetes.io/version: 1.0.0
  endpoints:
    - scheme: http
      targetPort: 9876
      path: /observe/metrics
      interval: 10s
      honorLabels: true