---
apiVersion: v1
kind: ConfigMap
metadata:
  name: camel-quarkus-rhoam-webhook-handler-api-config
data:
  quarkus.otel.exporter.otlp.endpoint: http://otel-collector.observability.svc:4317
---
apiVersion: v1
kind: Secret
metadata:
  name: camel-quarkus-rhoam-webhook-handler-api-secret
stringData:
  quarkus.qpid-jms.url: amqps://amq-ssl-broker-amqp-0-svc.amq7-broker-cluster.svc:5672?transport.trustAll=true&transport.verifyHost=false&amqp.idleTimeout=120000
  quarkus.qpid-jms.username: camel-quarkus-rhoam-webhook-handler-api
  quarkus.qpid-jms.password: P@ssw0rd
  quarkus.pooled-jms.max-connections: '1'
  quarkus.pooled-jms.max-sessions-per-connection: '500'
type: Opaque
---
# Generate a ServiceMonitor resource for the camel-quarkus-rhoam-webhook-handler-api service
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: camel-quarkus-rhoam-webhook-handler-api
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: camel-quarkus-rhoam-webhook-handler-api
      app.kubernetes.io/version: 1.0.0
  endpoints:
    - scheme: http
      targetPort: 9876
      path: /observe/metrics
      interval: 10s
      honorLabels: true