{
    "openapi": "3.0.3",
    "info": {
        "title": "Fruits and Legumes API",
        "version": "1.0.0",
        "description": "A simple API to test mainly the Apache Camel Quarkus Platform HTTP and Infinispan extensions.",
        "contact": {
            "name": "Jean Nyilimbibi"
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        }
    },
    "servers": [
        {
            "url": "http://fruits-and-legumes-api.apps.ocp4.jnyilimb.eu/api/v1/fruits-and-legumes-api",
            "description": "API Backend URL"
        }
    ],
    "paths": {
        "/fruits": {
            "get": {
                "tags": [
                    "fruits"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Fruit"
                                    }
                                },
                                "examples": {
                                    "fruits": {
                                        "value": [
                                            {
                                                "name": "Apple",
                                                "description": "Winter fruit"
                                            },
                                            {
                                                "name": "Pineapple",
                                                "description": "Tropical fruit"
                                            },
                                            {
                                                "name": "Mango",
                                                "description": "Tropical fruit"
                                            },
                                            {
                                                "name": "Banana",
                                                "description": "Tropical fruit"
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "description": "Fruits found"
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorMessage"
                                },
                                "examples": {
                                    "internalServerError": {
                                        "value": {
                                            "code": "500",
                                            "description": "Internal server error",
                                            "message": "java.lang.Exception: mocked error"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Internal server error"
                    }
                },
                "operationId": "getFruits",
                "summary": "Returns a list of hard-coded and added fruits",
                "description": "Returns a list of hard-coded and added fruits"
            },
            "post": {
                "requestBody": {
                    "description": "Fruit to add",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Fruit"
                            },
                            "examples": {
                                "fruitToAdd": {
                                    "value": {
                                        "name": "Maracuja",
                                        "description": "Tropical fruit :-)"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "fruits"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Fruit"
                                    }
                                },
                                "examples": {
                                    "newFruitsList": {
                                        "value": [
                                            {
                                                "name": "Apple",
                                                "description": "Winter fruit"
                                            },
                                            {
                                                "name": "Pineapple",
                                                "description": "Tropical fruit"
                                            },
                                            {
                                                "name": "Mango",
                                                "description": "Tropical fruit"
                                            },
                                            {
                                                "name": "Banana",
                                                "description": "Tropical fruit"
                                            },
                                            {
                                                "name": "Maracuja",
                                                "description": "Tropical fruit :-)"
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "description": "Fruit added"
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorMessage"
                                },
                                "examples": {
                                    "internalServerError": {
                                        "value": {
                                            "code": "500",
                                            "description": "Internal server error",
                                            "message": "java.lang.Exception: mocked error"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Internal server error"
                    }
                },
                "operationId": "addFruit",
                "summary": "Adds a fruit",
                "description": "Adds a fruit in the hard-coded list"
            }
        },
        "/legumes": {
            "get": {
                "tags": [
                    "legumes"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Legume"
                                    }
                                },
                                "examples": {
                                    "legumesList": {
                                        "value": [
                                            {
                                                "name": "Carrot",
                                                "description": "Root vegetable, usually orange"
                                            },
                                            {
                                                "name": "Zucchini",
                                                "description": "Summer squash"
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "description": "Legumes found"
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorMessage"
                                },
                                "examples": {
                                    "internalServerError": {
                                        "value": {
                                            "code": "500",
                                            "description": "Internal server error",
                                            "message": "java.lang.Exception: mocked error"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Internal server error"
                    }
                },
                "operationId": "getLegumes",
                "summary": "Returns a list of hard-coded legumes",
                "description": "Returns a list of hard-coded legumes"
            }
        }
    },
    "components": {
        "schemas": {
            "Fruit": {
                "title": "Root Type for Fruit",
                "description": "Name and description for a fruit",
                "required": [
                    "description",
                    "name"
                ],
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    }
                },
                "example": {
                    "name": "Maracuja",
                    "description": "Tropical fruit :-)"
                }
            },
            "Legume": {
                "title": "Root Type for Legume",
                "description": "Name and description for a legume",
                "required": [
                    "description",
                    "name"
                ],
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    }
                },
                "example": {
                    "name": "Carrot",
                    "description": "Root vegetable, usually orange"
                }
            },
            "errorMessage": {
                "title": "Root Type for errorMessage",
                "description": "",
                "required": [
                    "code",
                    "description",
                    "message"
                ],
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    }
                },
                "example": {
                    "code": "500",
                    "description": "Internal server error",
                    "message": "java.lang.Exception: mocked error"
                }
            }
        }
    },
    "tags": [
        {
            "name": "fruits",
            "description": ""
        },
        {
            "name": "legumes",
            "description": ""
        }
    ]
}